[user]
	name = rtks
	email = rtks@users.noreply.github.com
[core]
	excludesfile = ~/.gitignore.global
	editor = vim
	pager = less -R
	precomposeunicode = true
	autocrlf = false
	whitespace = cr-at-eol
[credential]
	helper = cache
[merge]
	keepBackup = false
	tool = vimdiff
[mergetool]
	keepBackup = false
[rebase]
	autostash = true
	autosquash = true
[pull]
	rebase = true
[branch]
	autoSetupRebase = always
[alias]
	cd = !cd `git rev-parse --show-toplevel`
	g = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit --date=relative
	ga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit --date=relative
	amd = git commit -a --amend --no-edit
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[difftool "winmerge"]
	path = C:/Program Files/WinMerge/winmergeu.exe
	cmd = \"C:/Program Files/WinMerge/winmergeu.exe\" -e -u \"$LOCAL\" \"$REMOTE\"
[difftool "TortoiseMerge"]
	path = C:/Program Files/TortoiseSVN/bin/TortoiseMerge.exe
[mergetool "TortoiseMerge"]
	path = C:/Program Files/TortoiseSVN/bin/TortoiseMerge.exe
	cmd = \"C:/Program Files/TortoiseSVN/bin/TortoiseMerge.exe\" /base:\"$BASE\" /mine:\"$LOCAL\" /theirs:\"$REMOTE\" /merged:\"$MERGED\"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[filter "qt-pri"]
	smudge = cat
	clean = sed -e 's/$$PWD\\///g' | sed -e 's/\\r//g'
[diff]
	compactionHeuristic = true
[pager]
	log = diff-highlight | nkf -w | less -R
	show = diff-highlight | nkf -w | less -R
	diff = diff-highlight | nkf -w | less -R
[diff "toutf8"]
	textconv = nkf -w8
[diff "nkf"]
	textconv = nkf
[include]
    path = ~/.gitconfig.local
[interactive]
	diffFilter = nkf -w
