/*
!/.config/
/.config/*
!/.config/fish/
!/.config/yadm/
!/.config/tmux/
!/.config/tig/
!/.config/zsh/
!/.config/git/
!/.config/nvim/
!/.github/

!/.gitconfig
!/.gitignore

# Fish
/.config/fish/fish_variables
/.config/fish/fishd.tmp.*
/.config/fish/fisher

# Zsh
/.config/zsh/.zsh_history

# Tmux
/.config/tmux/plugins/

# Karabiner
/.config/yadm/alt/.config/karabiner##os.Darwin/automatic_backups/*

