# Manage only dotfiles
/[^.]*

# yadm alt
/.Brewfile
/.config/karabiner

# Directories
/.Trash/
/.cache/
/.local/
/.config/yadm/repo.git/
/.vim/
/.config/fisher/
/.envs/
/.subversion/
/.wine/
/.zplugin/
/.cargo/
/.rustup/
/.npm/_cacache/
/.thumbnails/
/.config/Battle.net/
/.config/yadm/alt/.config/karabiner##os.Darwin/automatic_backups/
/.config/fontforge/
/.cups/
/.pyenv/

# Log files
*[_-]history
*.log*
log.*

# macos
/.CFUserTextEncoding

# vscode
/.vscode/extensions/
/.vscode-*/extensions/
/.vscode/argv.json
/.vscode-*/argv.json
/.vscode-server/
/.vscode-remote-containers/

# z
/.config/z

# fzf
/.fzf/
/.config/fish/functions/fzf_key_bindings.fish

# bash
/.bash_sessions

# zsh
/.zcompdump
/.zinit/
/.zsh_sessions/

# vim
/.viminfo
*.swp

# tmux
/.tmux/plugins/

# ssh
/.ssh/
!/.ssh/config

# adb
/.android/adbkey                                                  
/.android/adbkey.pub

# Docker
/.docker/

# unite.app
/.BZG/

# yarn
/.yarnrc

# java runtime
/.oracle_jre_usage/

# mono
/.mono/

/.lesshst
/.wget-hsts

# Fish
/.config/fish/fish_variables
/.config/fish/fishd*

# Fisher
/.config/fish/completions/fisher.fish
/.config/fish/functions/fisher.fish

# Fisher Plugin files
/.config/fish/functions/__bass.py
/.config/fish/functions/bass.fish
/.config/fish/functions/bd.fish
/.config/fish/completions/bd.fish
/.config/fish/functions/__fzf_cd.fish
/.config/fish/functions/__fzf_complete.fish
/.config/fish/functions/__fzf_complete_preview.fish
/.config/fish/functions/__fzf_find_file.fish
/.config/fish/functions/__fzf_get_dir.fish
/.config/fish/functions/__fzf_open.fish
/.config/fish/functions/__fzf_parse_commandline.fish
/.config/fish/functions/__fzf_reverse_isearch.fish
/.config/fish/functions/__fzfcmd.fish
/.config/fish/conf.d/fzf.fish
/.config/fish/conf.d/fzf_key_bindings.fish
/.config/fish/functions/getopts.fish
/.config/fish/functions/__z.fish
/.config/fish/functions/__z_add.fish
/.config/fish/functions/__z_clean.fish
/.config/fish/functions/__z_complete.fish
/.config/fish/functions/__zo.fish
/.config/fish/conf.d/z.fish
/.config/fish/conf.d/git.fish
/.config/fish/conf.d/plugin-git_init.fish
/.config/fish/functions/__git.destroy.fish
/.config/fish/functions/__git.init.fish
/.config/fish/functions/__git.reset.fish
/.config/fish/functions/__git.branch_has_wip.fish
/.config/fish/functions/__git.current_branch.fish
/.config/fish/functions/__git.default_branch.fish
/.config/fish/functions/gbage.fish
/.config/fish/functions/gbda.fish
/.config/fish/functions/gdt.fish
/.config/fish/functions/gdv.fish
/.config/fish/functions/ggl.fish
/.config/fish/functions/ggp.fish
/.config/fish/functions/ggpnp.fish
/.config/fish/functions/ggsup.fish
/.config/fish/functions/ggu.fish
/.config/fish/functions/gignored.fish
/.config/fish/functions/glp.fish
/.config/fish/functions/gpoat.fish
/.config/fish/functions/grename.fish
/.config/fish/functions/grt.fish
/.config/fish/functions/gtl.fish
/.config/fish/functions/gunwip.fish
/.config/fish/functions/gwip.fish
/.config/fish/functions/gtest.fish
/.config/fish/functions/uninstall.fish
/.config/fish/completions/docker-compose.fish
/.config/fish/completions/docker.fish
/.config/fish/conf.d/halostatue_fish_docker.fish

