"*":
  "atom-beautify":
    _analyticsUserId: "aa012dd4-6c50-49ad-bcbd-5d11f98ad313"
    general:
      _analyticsUserId: "6ad0ed86-0101-4f32-8b31-dad9c20a9dbb"
  "auto-encoding": {}
  "autocomplete-clang": {}
  "autocomplete-plus":
    strictMatching: true
  autosave:
    enabled: true
  blame:
    dateFormat: "YY.MM.DD"
    defaultWidth: 180
    gutterFormat: "{date} {author}"
  core:
    disabledPackages: [
      "feedback"
      "metrics"
      "bezier-curve-editor"
      "close-on-left"
      "welcome"
      "autocomplete-clang"
      "auto-encoding"
      "color-picker"
      "linter-cpplint"
      "terminal-plus"
    ]
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
  editor:
    fontFamily: "SourceHanCodeJP-Regular"
    fontSize: 12
    invisibles: {}
    lineHeight: 1.45
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "d386b46f-1be3-3f2e-c170-cf81a4a515fc"
  "file-icons": {}
  "git-blame":
    dateFormatString: "YY/MM/DD"
  "git-log":
    fontScale: 0.8
  "git-plus":
    commits:
      verboseCommits: true
    general:
      analytics: false
      enableStatusBarIcon: false
  linter: {}
  "linter-cpplint": {}
  "linter-ui-default": {}
  "merge-conflicts": {}
  metrics:
    userId: "e82ed6b395965d1ec6bdae90499cea15d9a28a58"
  minimap:
    autoToggle: true
    charHeight: 1.5
    interline: 0.5
    minimapScrollIndicator: false
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "one-light-ui": {}
  pigments:
    sortPaletteColors: "by color"
  "platformio-ide-terminal":
    ansiColors:
      normal:
        blue: "#278cd2"
        cyan: "#2aa198"
        green: "#859901"
        magenta: "#d33682"
        red: "#dc322f"
        white: "#eee8d5"
        yellow: "#b68a00"
      zBright:
        brightBlack: "#012b36"
        brightBlue: "#839496"
        brightCyan: "#93a1a1"
        brightGreen: "#657b83"
        brightMagenta: "#6c71c4"
        brightRed: "#cb4b16"
        brightWhite: "#fdf6e3"
        brightYellow: "#657b83"
    core:
      shell: "/usr/local/bin/fish"
    style:
      animationSpeed: 2
      fontFamily: "Source Code Pro"
      fontSize: "11"
  "status-bar": {}
  "sublime-tabs":
    hideIgnoredNames: true
  "switch-header-source": {}
  "symbols-tree-view": {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "vim-mode":
    startInInsertMode: true
    wrapLeftRightMotion: true
  "vim-mode-plus":
    smoothScrollOnFullScrollMotion: true
    smoothScrollOnFullScrollMotionDuration: 150
    smoothScrollOnHalfScrollMotion: true
    smoothScrollOnHalfScrollMotionDuration: 150
    startInInsertMode: true
    statusBarModeStringStyle: "long"
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnlyLines: true
